<a href="https://colab.research.google.com/github/AngelikaBaloy/DS1002/blob/main/Copy_of_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python basics

## Variables

Variables allow a developer to use a name to refer to a value. Just like math variables, this allows you to manipulate the variable as an entity of its own, independent of what its value happens to be. In particular you can refer to the value by name; then you don't have to change the reference even if the value changes. Variables should be thought of as key-value pairs, keeping in mind that the "value" half can sometimes be quite complex.
A variable can have a short name (like x or y) or a more descriptive name (age, subject_id, total_volume).

Rules for Python variables:


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

*   A variable name must start with a letter or the underscore character

*   A variable name cannot start with a number

*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# a simple key-value pair, a variable and its value:

favorite_number = 17

Define and populate a variable of your own below:

In [ ]:
age = 69
age

69

**More Complex Variables**

A variable can be populated with all sorts of data types:

integers, booleans, strings, lists, tuples, dictionaries, etc.

In [ ]:
yellow_fruit = "banana"
# string (like character from R)
happy = True
# boolean (like logical from R i guess)
number = 3.14
# float- number not an integer

In [ ]:
print(yellow_fruit)
print(number)

banana
3.14

In [ ]:
type(number)
# this is checking the type not literally typing
type(happy)

bool

## Lists

You can put a list of items into a variable, too.

In [ ]:
fruit = ["grape", "orange", yellow_fruit]

In [ ]:
print(fruit)

['grape', 'orange', 'banana']

## Indexing

To access individual members of a list, you can use the index.

Indices in Python (and most other languages, though notably not R) start at 0!

In [ ]:
fruit[1]

'orange'

In [ ]:
type(fruit)

list

In [ ]:
type(fruit[1])

str

If you don't know an element is part of a list but you don't know its index, you can get it:

In [ ]:
grape_index = fruit.index("banana")
# .index

In [ ]:
grape_index

2

## Functions and arguments

You can write functions in Python.  Functions do something.  Typically a function takes one or more inputs, uses the input to do its thing, and then returns a value or an output.

In [ ]:
def add(firstval, secondval):
    total = firstval + secondval
    print(total)

In [ ]:
add(10,7)

17

In [ ]:
first = 22
second = 12
add(first,second)

34

Try it yourself below:

*   Choose a variable name and give it a value
*   Choose another variable name and give it a value
*   Add the two values using the add() function

In [ ]:
val_1 = 33
val_2 = 20
add(val_1, val_2)

53

Here is another example.  What do you think it does?

In [ ]:
def divide(a,b):
  q = a//b
  r = a % b
  print(str(a) + " divided by " + str(b) + " equals " + str(q) + " with a remainder of " + str(r))

In [ ]:
divide(27,3)

27 divided by 3 equals 9 with a remainder of 0

## Math operations

$+$  addition

$-$  subtraction

$*$  multiplication

$/$  division

$**$ exponentiation (not the carat $^$ !)

$\%$  modulus (gives the remainder only, upon division)

$//$ floor division (gives the quotient only, upon division)



If you want, you can experiment and try to figure out what the carat does.

Experiment here with variables, lists and indices, and math operations.

(If you want, you can try to figure out what the carat does.  It's tricky!  (unless you look it up))